.botonContador{
    width: 10rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border: 2px solid #509ddb;
    border-radius: 10px;
    margin-bottom: 20px;
}

.botonIncDec{
    border-radius: 1rem;
    background-color: #d4d3d3;
    cursor: pointer;

}